@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

$font-family: "Manrope", serif;

$p-desktop-font-size: 14px;
$h1-desktop-font-size: 28px;

$p-mobile-font-size: 12px;
$h1-mobile-font-size: 24px;

$p-font-weight: 600;
$h1-font-weight: 800;

$p-font-style: normal;

p{
    font-weight: $p-font-weight;
    font-style: $p-font-style;
}

h1{
    font-weight: $h1-font-weight;
    font-style: $p-font-style;
}